<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="PFSIL" Name="SIL">
                    <Directory Id="APPLICATIONFOLDER" Name="OdtXslt"/>
                </Directory>
            </Directory>
        </Directory>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Application">
            <ComponentRef Id="RegistryEntries"/>
            <ComponentRef Id="BatMenuShortcuts"/>
            <ComponentRef Id="BatDeskShortcuts"/>
        </ComponentGroup>
    </Fragment>
</Wix>