<?xml version="1.0" encoding="utf-8"?>
<?define Product="OdtXslt"?>
<?define UpgradeCode="DAE4BF40-D6AF-40BC-9609-C6CA4650E0EF"?>
<?define BUILD_NUMBER="1.18.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="$(var.Product) $(var.BUILD_NUMBER)" Language="1033" Version="$(var.BUILD_NUMBER)" Manufacturer="SIL International" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.BUILD_NUMBER)" OnlyDetect="yes" Property="NEWVERSIONDETECTED" />
      <UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes" Maximum="$(var.BUILD_NUMBER)" IncludeMaximum="no" OnlyDetect="no" Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>
    <!-- 
		"from the list: Don't use Advertise="yes" Advertised shortcuts are designed to allow
		users to install just the shortcut for your app, then demand-install the
		rest of the app the first time the icon is run.  If this is not behavior you
		are trying to support, you're better off using non-advertised shortcuts. "
		-->
    <Media Id="1" Cabinet="OdtXslt.cab" EmbedCab="yes" CompressionLevel="high" />
    <Property Id="DISABLEADVTSHORTCUTS" Value="1" />
    <Feature Id="ProgramFiles" Level="1" Absent="disallow" Title="Program Files">
      <ComponentGroupRef Id="Application" />
    </Feature>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="ProgramMenuFolder" ShortName="Programs">
        <Directory Id="OdtXsltMenu" Name="$(var.Product) $(var.BUILD_NUMBER)">
          <Component Id="BatMenuShortcuts" Guid="41FC1A46-08D3-44DD-8C8D-B2AA7C89C1B7">
            <Shortcut Id="AppMenuShortcut" Name="OdtXslt Shortcuts" Target="[odtxslt_scripts]" Hotkey="0"/>
            <RemoveFolder Id="RemoveOdtXsltMenu" Directory="OdtXsltMenu" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\SIL\OdtXslt" Name="BatMenuShortcuts" Type="string" Value="[odtxslt_scripts]"/>
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" >
        <Component Id="BatDeskShortcuts" Guid="3A441882-711D-480F-AB85-0AAA2A85A383">
          <Shortcut Id="AppDeskShortcut" Name="OdtXslt Shortcuts" Target="[odtxslt_scripts]" Hotkey="0"/>
          <RegistryValue Root="HKCU" Key="Software\SIL\OdtXslt" Name="BatDeskShortcuts" Type="string" Value="[odtxslt_scripts]"/>
        </Component>
      </Directory>
      <Component Id="RegistryEntries" Guid="85CC3A39-EFA1-4E67-90E3-5E3224B49773" KeyPath="yes">
        <RegistryValue Root="HKLM" Key="Software\SIL\OdtXslt" Name="OdtXsltDir" Type="string" Value="[APPLICATIONFOLDER]" />
        <RemoveFolder Id="RemoveOdtXsltDir" Directory="APPLICATIONFOLDER" On="uninstall"/>
      </Component>
    </DirectoryRef>
    <!-- Icon Id="OdtXsltIcon.ico" SourceFile="..\output\Release\OdtXsltIcon.ico" / -->
    <!-- Property Id="ARPPRODUCTICON" Value="OdtXsltIcon.ico" / -->
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <!-- WixVariable Id="WixUIDialogBmp" Value="bannrbmp.bmp" / -->
    <!-- WixVariable Id="WixUIBannerBmp" Value="dlgbmp.bmp" / -->
    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
      <!--We need the condition here so that we only launch the executable when we make an installation but not when we remove the product-->
    </InstallExecuteSequence>
  </Product>
</Wix>